{erl_opts, [debug_info]}.
{deps, []}.
{relx, [
    {release, {nfc_card, "0.1.0"}, [
        nfc_card,
        sasl
    ]},

    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
