{erl_opts,[debug_info]}.
{deps,[{amqp_client, "4.0.3"}
      ,{brot, "4.5.1", {git, "https://github.com/kafka4beam/brod.git", "master"}}
      ,{cowboy, "2.14.2", {git, "https://github.com/ninenines/cowboy.git", "master"}}
      ,{erlkaf, "2.2.1", {git, "https://github.com/silviucpp/erlkaf.git", "master"}}
      ,{jsx, "3.1.0"}
      ,{mochiweb, "3.3.0"}
      ,{rabbit_common, "4.0.3"}
      ,{uuid_erl, "2.0.7"}
      ,{webmachine, {git, "https://github.com/webmachine/webmachine.git", "main"}}
      ,{zuuid, {git, "file:///_build/default/lib/zuuid/ebin/zuuid_app", {branch,"master"}}}
      ]}.
{shell,[{apps, [server]}]}.
