[
  {nfc_card, []},
  {core, [{db_config, #{host => "localhost",
                        port => 5432,
                        user => "kapranov",
                        password => "postgres",
                        database => "nfc_card"}}]},
  {server, [
      {rabbit_connection_timeout, 7000},
      {rabbit_host, "127.0.0.1"},
      {rabbit_password, "guest"},
      {rabbit_port, 5672},
      {rabbit_ssl_options, none},
      {rabbit_username, "guest"}
  ]},
  {os_mon, [{start_disksup, false}]}
].
