[
  {nfc_card, []},
  {core, [{db_config, #{host => "localhost",
                        port => 5432,
                        user => "kapranov",
                        password => "postgres",
                        database => "nfc_card"}}]},
  {server, [
      {rabbit_connection_timeout,7_000},
      {rabbit_consumer1,<<"test_bisque1">>},
      {rabbit_consumer2,<<"test_bisque2">>},
      {rabbit_consumer3,<<"test_bisque3">>},
      {rabbit_content_type,<<"application/json">>},
      {rabbit_exchange1,<<"test_lahaina1">>},
      {rabbit_exchange2,<<"test_lahaina2">>},
      {rabbit_exchange3,<<"test_lahaina3">>},
      {rabbit_host,"127.0.0.1"},
      {rabbit_password,<<"guest">>},
      {rabbit_payload_data,#{name => <<"Nakamura">>,age => 22,city => <<"Oahu">>}},
      {rabbit_persistent_delivery,2},
      {rabbit_port,5672},
      {rabbit_queue1,<<"test_aloha1">>},
      {rabbit_queue2,<<"test_aloha2">>},
      {rabbit_queue3,<<"test_aloha3">>},
      {rabbit_routing_key1,<<"test_mahalo1">>},
      {rabbit_routing_key2,<<"test_mahalo2">>},
      {rabbit_routing_key3,<<"test_mahalo3">>},
      {rabbit_ssl_options,none},
      {rabbit_test_exchange1,<<"test_exchange1">>},
      {rabbit_test_exchange2,<<"test_exchange2">>},
      {rabbit_test_exchange3,<<"test_exchange3">>},
      {rabbit_test_payload1,#{name => <<"Taumua">>,age => 19,city => <<"Kula">>}},
      {rabbit_test_payload2,#{name => <<"Kahele">>,age => 42,city => <<"Hilo">>}},
      {rabbit_test_payload3,#{name => <<"Morikawa">>,age => 56,city => <<"Kokua">>}},
      {rabbit_test_queue1,<<"test_queue1">>},
      {rabbit_test_queue2,<<"test_queue2">>},
      {rabbit_test_queue3,<<"test_queue3">>},
      {rabbit_test_routing_key1,<<"test_routing_key1">>},
      {rabbit_test_routing_key2,<<"test_routing_key2">>},
      {rabbit_test_routing_key3,<<"test_routing_key3">>},
      {rabbit_test_type,<<"direct">>},
      {rabbit_type,<<"fanout">>},
      {rabbit_unknown_key,<<"unknown_key">>},
      {rabbit_username,<<"guest">>}
  ]},
  {os_mon, [{start_disksup, false}]}
].
